<% if(sess != false){%>
  <%- include('layouts/userheader') %>
<%}
else{%>
  <%- include('layouts/header') %>
<%}%>
<div class="container">
  <div id="content" class="col-sm-9">
      <div class="category-page-wrapper">
        <div class="col-md-6 list-grid-wrapper">
          <div class="btn-group btn-list-grid">
            <button type="button" id="list-view" class="btn btn-default list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default grid" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
          </div>
        </div>
      </div>
      <br />
      <div class="grid-list-wrapper">
        <!-- Product -->
        <% salads.forEach(function(salad){
          %>
        <div class="product-layout product-list col-xs-6">
          <div class="product-thumb">
            <div class="image product-imageblock"> <img src="image/product/<%= salad.saladimage %>" alt="Zucchini Noodles" title="<%= salad.name %>" class="img-responsive" /> </a>
              <div class="button-group">
                <a href="/add_salad/<%= salad._id %>"><button type="button" class="addtocart-btn">Add to Cart</button></a>
              </div>
            </div>
            <div class="caption product-detail">
              <h4 class="product-name"><%= salad.name %></h4>
              <p class="product-desc"> </p>
              <p class="price product-price">$<%= salad.price %><br></p>
            </div>
            <div class="button-group">
              <a href="/add_salad/<%= salad._id %>"><button type="button" class="addtocart-btn">Add to Cart</button></a>  
            </div>
          </div>
        </div>
        <%
                }); %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('layouts/footer') -%>